body {

    background: #0f172a;

    color: white;

    font-family: Arial;

    padding: 40px;
}

.container {

    max-width: 900px;

    margin: auto;
}

h1 {

    color: #38bdf8;
}

textarea {

    width: 100%;

    height: 180px;

    margin-top: 20px;

    padding: 15px;

    border-radius: 10px;

    border: none;

    background: #1e293b;

    color: white;

    font-size: 16px;
}

button {

    margin-top: 20px;

    padding: 14px 22px;

    border: none;

    border-radius: 10px;

    background: #2563eb;

    color: white;

    cursor: pointer;
}

.result {

    margin-top: 30px;

    background: #1e293b;

    padding: 25px;

    border-radius: 12px;
}

.section {

    margin-bottom: 25px;
}

.title {

    color: #38bdf8;

    font-size: 20px;

    margin-bottom: 10px;
}

pre {

    white-space: pre-wrap;
}